/* Variables */
:root {
  --main-text-color: #fff;
  --main--text-main-color: #F67E7E;
  --main-bg-color: #014E56;
}

/* livvic-600 - latin */
@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/livvic-v13-latin-600.woff2') format('woff2'),
    url('../fonts/livvic-v13-latin-600.woff') format('woff');
}

/* livvic-700 - latin */
@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/livvic-v13-latin-700.woff2') format('woff2'),
    url('../fonts/livvic-v13-latin-700.woff') format('woff');
}

/* General */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

img {
  display: block;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Livvic", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Container */
.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Sticky-Footer */
.site-main {
  flex-grow: 1;
}

/* Start Header Section */
#site-header {
  padding: 73px 0;
  background-color: #014E56;
}

.header-part {
  display: flex;
  align-items: center;
}

.site-nav {
  margin: 0 auto 0 80px;
}

.site-nav__list {
  display: flex;
  align-items: center;
  padding: 0;
  list-style: none;
}

.site-nav__item:not(:last-child) {
  margin-right: 40px;
}

.site-nav__link,
.header-contact-link {
  display: inline-block;
  line-height: 28px;
  color: var(--main-text-color);
  text-decoration: none;
  transition: color .5s;
}

.site-nav__link:hover {
  color: var(--main--text-main-color);
}

.header-contact-link {
  padding: 9px 33px 11px 32px;
  border: 2px solid var(--main-text-color);
  border-radius: 24px;
  transition: all .5s;
}

.header-contact-link:hover {
  color: #002529;
  background: var(--main-text-color);
}

/* End of Header Section */

/* Start Hero Section */
#hero {
  padding: 56px 0 250px 0;
  background-color: #014E56;
  background-image: url("../images/Group\ 4.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 375px) calc(50% + 205px);
}

.hero-part {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.hero-part__title-box {
  position: relative;
  width: 620px;
}

.hero-part__title-box::before {
  position: absolute;
  top: 0;
  left: -50%;
  width: 200px;
  height: 200px;
  background-image: url("../images/Group\ 8.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
}

.hero-part__title {
  margin: 0;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  color: var(--main-text-color);
}

.hero-part__title span {
  color: var(--main--text-main-color);
}

.hero-part__text-box {
  width: 445px;
}

.hero-part__text-box::before {
  display: block;
  width: 50px;
  height: 4px;
  background-color: #79C8C7;
  content: '';
}

.hero-part__text {
  margin: 0;
  padding: 83px 0 0 0;
  line-height: 28px;
  color: var(--main-text-color);
}

/* End of Hero Section */
.build-section-bg-color {
  padding: 198px 0 140px 0;
  background-color: #012F34;
}

.build-section-box {
  display: flex;
  justify-content: space-between;
}

.left-box {
  position: relative;
  width: 445px;
}

.left-box::before {
  position: absolute;
  top: -54px;
  left: 0;
  width: 50px;
  height: 4px;
  background-color: var(--main--text-main-color);
  ;
  content: "";
}

.left-box__h2 {
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: var(--main-text-color);
}

.right-list {
  position: relative;
  padding-left: 0;
  list-style: none;
}

.right-list::after {
  position: absolute;
  top: 82.7%;
  right: -56%;
  width: 200px;
  height: 244px;
  background-image: url("../images/Group8.svg");
  background-repeat: no-repeat;
  content: "";
}

.right-list__items {
  position: relative;
  display: flex;
  width: 540px;
  margin-bottom: 32px;
}

.right-list__items::before {
  position: absolute;
  top: 0%;
  left: -19%;
  width: 72px;
  height: 72px;
  margin-right: 10px;
  background-image: url("../images/Group11.svg");
  background-repeat: no-repeat;
  content: "";
}

.right-list__items:nth-child(2)::before {
  background-image: url("../images/Group12.svg");
}

.right-list__items:nth-child(3)::before {
  background-image: url("../images/Group13.svg");
}

.r-l-items__h3 {
  margin: 0 0 10px 0;
  font-weight: 700;
  line-height: 28px;
  color: var(--main--text-main-color);
}

.r-l-items__p {
  margin: 0;
  font-size: 15px;
  line-height: 25px;
  color: var(--main-text-color);
  opacity: 0.8;
}

/* Start Delivery Section */
#delivery {
  padding: 140px 0 151px 0;
  background-color: #004047;
  background-image: url('../images/delivery-bg-img.svg'), url('../images/delivery-bg-img-2.svg');
  background-position: calc(50% - 690px) calc(50% - 293px), calc(50% + 660px) calc(50% + 293px);
  background-repeat: no-repeat;
}

.delivery-part__title-box {
  width: 932px;
  margin: 0 auto;
}

.delivery-part__title {
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: var(--main-text-color);
}

.delivery-part__title span {
  color: #79C8C7;
}

.delivery-part__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 56px;
  padding: 0;
  list-style: none;
}

.delivery-item {
  position: relative;
  width: 350px;
  padding-top: 50px;
  background-image: url('../images/sign.svg');
  background-repeat: no-repeat;
  background-position: calc(50% + 0px) calc(50% - 67px);
  text-align: center;
}

.delivery-item::before {
  width: 67px;
  height: 56px;
  background-image: url('../images/sign.svg');
  background-repeat: no-repeat;
  content: '';
}

.delivery-item::after {
  position: absolute;
  bottom: -87px;
  left: 40%;
  width: 67px;
  height: 56px;
  background-image: url('../images/kady-baker.png');
  background-size: contain;
  background-repeat: no-repeat;
  content: '';
}

.delivery-item:nth-child(2):after {
  background-image: url('../images/aisha-reese.png');
}

.delivery-item:nth-child(3):after {
  background-image: url('../images/artur.png');
}

.delivery-item__text-box {
  z-index: 10 !important;
}

.delivery-item__text {
  margin: 0;
  font-size: 15px;
  line-height: 25px;
  color: var(--main-text-color);
}

.delivery-iten-naming {
  margin: 24px 0 2px 0;
  line-height: 28px;
  color: #79C8C7;
}

.delivery-item__work-info {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  color: var(--main-text-color);
}

/* End of Delivery Section */

/* start article part */
.last-s-article-box {
  padding: 76px 0;
  background-color: var(--main--text-main-color);
}

.article-h2andlink-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.article-h2andlink-box::before {
  position: absolute;
  top: -30%;
  left: -11%;
  width: 200px;
  height: 244px;
  display: block;
  background-image: url("../images/Group8-article.svg");
  background-repeat: no-repeat;
  content: "";
}

.article-h2andlink-box__h2 {
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #012F34;
}

.article-h2andlink-box__link {
  padding: 10px 32px;
  line-height: 28px;
  text-decoration: none;
  color: #012F34;
  border: 2px solid #012F34;
  border-radius: 24px;
}

.article-h2andlink-box__link:hover {
  color: var(--main-text-color);
  background-color: #012F34;
}

/* end article part */
/* start footer part */
.footer-intro {
  position: relative;
  padding: 48px 0;
  background-color: #002529;
}

.footer-box {
  display: flex;
}

.footer-box__logo-and-links {
  display: flex;
  flex-direction: column;
  width: 160px;
}

.footer-box__links-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0 0 0;
  padding-left: 0;
  list-style: none;
}

.footer-box__links {
  margin-top: 25px;
  text-decoration: none;
  line-height: 28px;
  color: var(--main-text-color);
}

.footer-box__links:hover {
  color: var(--main--text-main-color);
}

.footer-box-middle-things {
  margin-left: 125px;
}

.foot-middle-things__info {
  margin: 0;
  font-size: 15px;
  font-style: normal;
  line-height: 25px;
  color: var(--main-text-color);
  opacity: 0.6;
  text-decoration: none;
}

.footer-box__iconsandp {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
}

.footer-box__social-icons-list{
  display: flex;
  justify-content: space-between;
  width: 104px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-box__icons-link {
  color: var(--main-text-color);
}

.footer-box__icons-link:hover {
  color: var(--main--text-main-color);
}

.footer-box__icons-p {
  margin-top: 51px;
  font-size: 15px;
  line-height: 25px;
  text-align: right;
  color: var(--main-text-color);
  opacity: 0.6;
}

/* end footer part */

/* Start about-hero */

#about-hero {
  padding: 46px 0 272px 0;
  background-image: url(../images/Group\ 9.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + 675px) calc(100% + 0px);
  background-color: var(--main-bg-color);
}

.about-hero-part {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about-hero-part__title-box {
  width: 350px;
  height: 100px;
}

.about-hero-part__title {
  margin: 0;
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 100px;
  color: var(--main-text-color);
}

.about-hero-part__text-box {
  width: 732px;
  height: 112px;
}

.about-hero-part__text-box::before {
  display: block;
  width: 50px;
  height: 4px;
  background-color: var(--main--text-main-color);
  content: '';
}

.about-hero-part__text {
  margin: 0;
  padding-top: 40px;
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: var(--main-text-color);
}

/* End of About Hero Section  */

/* Start Director Part */
#director {
  padding: 140px 0 168px 0;
  background-color: #004047;
  background-image: url('../images/director-bg-img.svg'), url('../images/delivery-bg-img.svg');
  background-repeat: no-repeat;
  background-position: calc(50% - 760px) calc(50% - 438px), calc(50% + 695px) calc(50% + 487px);
}

.director-part__title-box {
  width: 920px;
  margin: 0 auto 64px auto;
}

.director-part__title {
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: var(--main-text-color);
}

.director-part__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.director-item {
  position: relative;
  width: 350px;
  margin-right: 30px;
  background-color: #012F34;
}

.director-item:nth-child(3),
.director-item:nth-child(6) {
  margin-right: 0;
}

.director-item:nth-child(4),
.director-item:nth-child(5),
.director-item:nth-child(6) {
  margin-top: 76px;
}

.director-item__main-page {
  display: block;
  padding: 32px 24px 63px;
  text-align: center;
}

.director-item--active .director-item__main-page {
  display: none;
}

.director-item__photo {
  margin: 0 auto;
}

.director-item__name {
  margin: 16px 0 0 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #79C8C7;
}

.director-item__job {
  margin: 0;
  font-size: 15px;
  line-height: 25px;
  color: var(--main-text-color);
}

.director-item__info-page {
  display: none;
  padding: 37px 24px 63px;
  text-align: center;
}

.director-item--active .director-item__info-page {
  display: block;
}

.director-item__info-name {
  margin: 0 0 8px 0;
  font-weight: 700;
  line-height: 28px;
  color: #79C8C7;
}

.director-item__info-text-box {
  width: 254px;
  margin: 0 auto;
}

.director-item__info-text {
  margin: 0;
  font-size: 15px;
  line-height: 25px;
  color: var(--main-text-color);
}

.director-item__info-icons-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  padding: 0;
  list-style: none;
}

.director-item__info-icons-item:not(:last-child) {
  margin-right: 16px;
}

.director-item__info-icon-link
.director-item__info-icon path {
  transition: fill .5s;
}

.director-item__info-icon-link:hover .director-item__info-icon path {
  fill: #F67E7E;
}

.director-item__changer-btn {
  position: absolute;
  bottom: -11%;
  left: 42%;
  width: 56px;
  height: 56px;
  border: none;
  background-color: var(--main--text-main-color);
  border-radius: 50%;
  background-image: url('../images/icon-x.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: all .5s;
}

.director-item--active .director-item__changer-btn {
  transform: rotate(45deg);
  background-color: #79C8C7;
}

/* End of Director Part */
/* start about us page's clients part */
.clients-part {
  padding: 140px 0;
  background-color: #012F34;
}

.clients-bg {
  position: relative;
}

.clients-bg::before {
  position: absolute;
  top: -86%;
  left: -19%;
  display: block;
  width: 200px;
  height: 200px;
  background-image: url("../images/clients-bg.svg");
  background-repeat: no-repeat;
  content: "";
}

.clients-part__big-word {
  margin: 0 0 64px 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
}

.clients-part__clients-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

/* end about us page's clients part */
/* start article part */
.last-s-article-box {
  padding: 76px 0;
  background-color: var(--main--text-main-color);
}

.article-h2andlink-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.article-h2andlink-box::before {
  position: absolute;
  top: -30%;
  left: -18.5%;
  width: 200px;
  height: 244px;
  background-image: url("../images/Group8-article.svg");
  background-repeat: no-repeat;
  content: "";
}

.article-h2andlink-box__h2 {
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #012F34;
}

.article-h2andlink-box__link {
  padding: 10px 32px;
  line-height: 28px;
  text-decoration: none;
  color: #012F34;
  border: 2px solid #012F34;
  border-radius: 24px;
}

.article-h2andlink-box__link:hover {
  color: var(--main-text-color);
  background-color: #012F34;
}

/* end article part */